$paddingButton: 8px 20px;
$blackDefault: #242424;
$redDefault: #f00946;
$transitionDefault: all .3s ease-out;

:root {
    --primary: #fff;
}

.btn {
    padding: $paddingButton;
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;
    white-space: nowrap;
}

.btn-primary {
    background-color: var(--primary);
    color: $blackDefault;
    border: 1px solid var(--primary);
}

.btn-outline {
    background-color: transparent;
    color: var(--primary);
    padding: $paddingButton;
    border: 1px solid var(--primary);
    transition: $transitionDefault;
}

.btn--medium {
    padding: $paddingButton;
    font-size: 18px;
}

.btn--large {
    padding: 12px 26px;
    font-size: 20px;
}

.btn--mobile {
    text-align: center;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 24px;
    background-color: transparent;
    color: #fff;
    padding: 14px 20px;
    border: 1px solid var(--primary);
    transition: $transitionDefault;
}

.btn--wide {
    padding: 12px 64px;
    font-size: 20px;
}

.btn--large:hover,
.btn--medium:hover,
.btn--mobile:hover {
    transition: $transitionDefault;
    background-color: var(--primary);
    color: $blackDefault;
}

.btn--wide:hover {
    color: var(--primary);
    background-color: $redDefault;
    transition: all .2s ease-out;
}

@mixin buttonColors {
    color: var(--primary);
    border: none;
}

.blue {
    background-color: #276afb;
    @include buttonColors();
}

.red {
    background-color: $redDefault;
    @include buttonColors();
}

.primary {
    background-color: $blackDefault;
    @include buttonColors();
}

.primary:hover {
    background-color: var(--primary);
    color: $blackDefault;
}

.green {
    background-color: #25ce4a;
    @include buttonColors();
}

.green:hover {
    background-color: $blackDefault;
}

.btn-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 8px 16px;
    height: 100%;
    width: 100%;
}